.container-articles {
    margin-top: 50px;
}

.btn-cadastrar {
    margin: 10px 0;
}

.card-header {
    text-align: center;
}

.label-artigo {
    font-weight: bolder;
    margin: 10px 0;
}

.title-select {
    margin: 10px 0;
    font-weight: bolder;
}